body {
  box-sizing: border-box;

  background-image: url(/images/image-hero-desktop.png);
  background-size: 30%;
  background-position: 90% 50%;
  background-repeat: no-repeat;
  color: hsl(0, 0%, 8%);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* global declerations */
a {
  text-decoration: none;
  color: hsl(0, 0%, 8%);
  cursor: pointer;
}

a.topSections:hover {
  font-weight: bolder;
}

h5,
h6 {
  cursor: pointer;
}

.show {
  /* i added the '!important' value so that
  * the style rules you declared in the 'dropAnswer'
  * class can be overwritten by this one.
  */
  display: block !important;
}
.remove{
  display: none;
}

.logo{
  display: inline-block;
  margin-left: 30px;
}

.topSections {
  display: flex;
  justify-content: space-between;
  font-size: large;
  position: relative;
  bottom: 70px;
  left: 5%;
  width: 95%;
}

.leftTop {
  display: flex;
  margin: 0 0 0 30px;
}

.leftTop h6:hover {
  font-weight: bolder;
}

.rightTop {
  display: flex;
}

.leftTop h2 {
  height: 40px;
}

.rightTop h6 {
  margin-right: 30px;
}

.featuresDrop-down {
  width: 70px;
  margin-left: 80px;
}

.comapanyDrop-down {
  width: 100px;
  margin-right: 30px;
}

.leftLinks {
  display: flex;
  position: relative;
  right: 300px;
}

.leftLinks h6 {
  margin-right: 50px;
}

.reg {
  border: 1px solid hsl(0, 0%, 8%);
  border-radius: 10px;
  padding: 7px 16px;
}

/* drop answers */
.dropheader {
  display: inline-block;
}

.forCompany {
  margin-left: 30px;
}

.dropAnswer {
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 8%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin: auto 40px auto 0;
  position: absolute;
  z-index: 3;
  display: none;
}

.dropAnswer ul {
  padding: 0 25px;
}

.dropAnswer li {
  list-style-type: none;
  font-size: 80%;
  width: fit-content;
  padding: 5px;
}

/* middle sections */

.middleSection {
  margin-left: 120px;
  margin-top: 90px;
  position: relative;
  bottom: 13px;
}

.middleSection h1 {
  display: inline-block;
  width: 39%;
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 21px;
}

.middleSection p {
  margin-top: 0;
  width: 30%;
}

.middleSection h5 {
  background-color: hsl(0, 0%, 8%);
  border-radius: 10px;
  outline: none;
  color: hsl(0, 0%, 98%);
  display: inline-block;
  padding: 15px 25px;
  transition: all 1s;
}

.middleSection h5:hover {
  background-color: hsl(0, 0%, 98%);
  border: solid hsl(0, 0%, 8%) 1px;
  color: hsl(0, 0%, 8%);

}

.iconSection {
  margin: 50px 0 100px 90px;
}

.iconSection img {
  margin-left: 25px;
}

/* this is for the  icon in the mobile responsiveness display none*/


.mobile-nav,.close,.menu-icon, .ham-menu, .mobile-logo{
  display: none;
}

@media only screen and (max-width: 768px) {
  /* media queries go here */
  body{
    background-image: url(./images/image-hero-mobile.png);
    background-position: 0 70px;
    background-size: 100%;
    display: flex;
    flex-direction: column;
  }
   a{
    display: block;
    color: hsl(0, 3%, 45%);

    text-decoration: none;
    margin-bottom: 1rem;
  }
  ul{
    padding: 0;
    margin: 1.5rem 0 0 30px;

  }
  li{
    list-style-type: none;
    margin-bottom: 1rem;

  }
 
  .dropbtn{
    margin-bottom: 1rem;
    
  }
  .dropbtn, .links{
    font-weight: bold;
  }
 
  .mobile-top{
    padding: 15px 15px;
  }
  .mobile-logo{
    display: block;
  }
  .ham-menu{
    float: right;
    position: relative;
    bottom: 55px;
    display: block;
  }
  .overlay{
    display: none;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    left: 0;
    top: 0;
   z-index: 1;
   transition: opacity 100ms linear;
    
  }
  .close-btn{
    display: inline-block;
    float: right;
    padding: 20px 20px 0 0 ;
  }

  .dropbtn:active .arrow{
    transform: rotate(180deg);
    transition: all 0.2s ease-in;
  }
  .mobile-container{
    padding: 15px 15px 0 15px;
  }
  .mobile-nav{
    display: none;
    color: hsl(0, 3%, 45%);
    font-size: 2.5ex;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    min-width: 250px;
    height: 100vh;
    z-index: 3;
    
  
  }
  .mobile-nav-con{
    padding: 100px 35px;

  }
  .modal-dropdown{
    display: none;

  }
  
  .middleSection {
    margin: auto ;
    position: relative;
    top: 270px;
    text-align: center;
  }
  .middleSection h1{
    font-size: 32px;
    font-weight: 800;
    width: fit-content;
}
.middleSection p{
  margin: 0 auto;
  width: 75%;
}
.middleSection h5 {
  border-radius: 18px;
  padding: 20px 30px;
 }
 .iconSection{
  margin: 0 auto;
  position: relative;
   top: 300px;
 
  }
 
   .iconSection img{
   margin-left: 30px;
  width: 15%;
  }
  
   .topSections,.logo{
    display: none;
  }
  .lock{
    overflow: hidden;
  }
}

  